.shell {
  display: grid;
  grid-template-columns: 280px 1fr;
  min-height: 100vh;
}

.content {
  padding: 32px;
}

@media (max-width: 900px) {
  .shell {
    grid-template-columns: 1fr;
  }

  .content {
    padding: 0px;
  }
}
